body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 80px;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  background-color: #b300ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color:#b300ff;
}

.customer {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}